/PatternMatching/nbproject/private/
/PatternMatching/build/
/EmbeddedSystem/nbproject/private/
/VendingMachineFA/nbproject/private/
/VendingMachine/nbproject/private/
/VendingMachine/build/
/VendingMachine/dist/